ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    opacity: 0.5;
}

#nav li a:hover {
    background-color: #111;
    opacity: 1;
}

ul li a.active {
    background-color: slategray;
}

#nav li {
    border-right: 2px solid #ffffff;
}

img {
    padding: 3px 3px 0px 3px;
}
body {
    background-color: rgba(8, 53, 68, 0.384);
}

#buttons a:link, a:visited {
    background-color: #f44336;
    color: white;
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
        
#buttons a:hover, a:active {
    background-color: red;
}

#button1 {  
    background-color: #f44336;
    color: white;
    width: 48.5%;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;  
    margin-left: 1.1%;
}

#button2 {
    background-color: #f44336;
    color: white;
    width: 48.5%;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 1.1%;
}