#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    opacity: 0.5;
}

#nav li a:hover {
    background-color: #111;
    opacity: 1;
}

#nav ul li a.active {
    background-color: slategray;
}

#nav li {
    border-right: 2px solid #ffffff;
}

.contact {
    padding: 3px 3px 0px 3px;
}

body {
    background-color: rgba(8, 53, 68, 0.384);
}
        
.button1 {
    background-color: #4CAF50;
    border: solid;
    color: white;
    margin-left: 0;
    width: 49.1%;
    padding: 3% 0% 3% 0%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button2 {
    background-color: #4CAF50; 
    border: solid;
    color: white;
    margin-right: 0%;
    width: 49.1%;
    padding: 3% 0% 3% 0%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1:hover {
    background-color: red;
}

.button2:hover {
    background-color: red;
}

.summary {
    text-align: center;
}

#gallery {
    background: border-box black;
    padding: 5px;
}