ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

ul li a.active {
    background-color: slategray;
}

#nav li {
    border-right: 2px solid #ffffff;
}

img {
    padding: 3px 3px 0px 3px;
}
body {
    background-color: lightblue;
}

#buttons a:link, a:visited {
    background-color: #f44336;
    color: white;
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
        
#buttons a:hover, a:active {
    background-color: red;
}

#button1 {  
    background-color: #f44336;
    color: white;
    width: 48%;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;  
    margin-left: 1.6%;
}

#button2 {
    background-color: #f44336;
    color: white;
    width: 48%;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 1.6%;
}