ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#contact li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 2px 0px 7px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
/* Add a gray right border to all list items, except the last item (last-child) */
li {
    border-right: 2px solid #FFFFF0;
}

#contact li a{

}

ul li a.active{
   background-color: #708090;
}


body {
    background-color: #ffffff;
}
h1 {border-bottom-color: coral;}

#button a:link, a:visited {
    background-color: #f44336;
    color: white;
    width: 48%;
    padding: 14px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


#button a:hover, a:active {
    background-color: red;
}


